
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.publishedAt {
  width: 100px;
}

.read-more{
  width: 100px;
}
.read-more a{
  color: white;
}

.read-more a:hover{
  color:white
}

.buttons {
  background-color: transparent !important;
  border: 1px solid white !important;
}

.buttons:hover {
  background-color: #eea849!important;
  border: 1px solid white !important;
}
